:root {
	--background: #343a40;
}

html,
body {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}

li {
	margin: 10px;
	margin-right: 2.5vw;
}

a:hover {
	text-decoration: none;
}

#navbarLinks ul {
	margin-right: 5vw;
}

nav a:hover {
	color: white !important;
	border-bottom: 2px solid white;
	margin: 0px;
}

small a {
	color: inherit !important;
}

footer {
	color: inherit !important;
	margin: 0px;
}

#stickyContactLabel {
	top: 50%;
	z-index: 3;
	right: 0;
}

#project-item {
	padding: 0px;
	max-width: 100%;
}

#project-item img {
	object-fit: cover !important;
	-ms-transform: scale(1.4);
	-webkit-transform: scale(1.4);
	transform: scale(1.4);
}


#projects .row {
	padding: 0px !important;
}

#projects {
	padding: 0px;
}

.navbar {
	background: transparent !important;
	grid-area: header;
	z-index: 100;
}

footer {
	background: transparent !important;
	display: grid;
	max-width: auto;
	max-height: auto;
	grid-template-rows: 1;
	grid-template-columns: 1;
	grid-template-areas: "line";
}

footer a:hover{
	color: #7CBAE6 !important
}

.separator-container {
	overflow: hidden;
	position: relative !important;
	width: 100%;
	grid-area: line !important;
}

#desc {
	background: transparent !important;
	vertical-align: center;
	display: grid;
	max-width: auto;
	max-height: auto;
	grid-template-rows: 1;
	grid-template-columns: 1;
	grid-template-areas: "line";
}

#desc svg {
	grid-area: line;
}

.btn-primary {
	background-color: #7CBAE6 !important;
	border-color:#7CBAE6 !important;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}

#desc h4 {
	grid-area: line;
}

.wave {
	transform: scale(1.1);
}

#contact {
	grid-area: line;
	z-index: 3;
}

img {
	max-height: 100%;
	max-width: 100%;
}

.navbar-brand {
	font-family: Comfortaa !important;
}

#about img {
	border-radius: 10px;
}

#main {
	display: grid;
	background-color: #7CBAE6;
	max-width: auto;
	max-height: auto;
	grid-template-rows: 1;
	grid-template-columns: 1;
	grid-template-areas: "header"
}

#slides {
	grid-area: header;
}

#captions {
	margin-right: 15%;
	grid-area: header;
	z-index: 2;
}

#captions a:hover{
	color: white !important;
}

#timeline {
	margin: 0px !important;
}

.dot {
	border-radius: 50%;
	width: 70px;
	height: 70px;
	text-align: center;
	vertical-align: center;
	transition: transform .2s ease-in, background-color .2s linear;
}

.dot:hover {
	color: white;
	transform: rotate(-25deg);
	background-color: var(--background);
}

.separator {
	background-color: var(--background);
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	width: 15rem;
	height: 2px;
}

#about h4{
	color:white;
}

.popover-body {
	background-color: var(--background);
	color: white;
}

.bs-popover-top .arrow::after {
	border-top-color: var(--background);
}

#stickyContactLabel h3 {
	background-color: black;
}

.jumbotron {
	background-color: white;
	padding: 0px;
}

.row {
	justify-content: center;
	padding: 15px;
}

hr {
	border: none;
	height: 2px;
}

.fab:hover {
	text-decoration: none;
}

.card-img-top {
	object-fit: cover;
}

p {
	font-size: 1.5em;
}

.offset-left {
	position: relative;
	left: 25px;
}

.offset-right {
	position: relative;
	right: 25px;
}

.separator-container svg {
	animation: move 10s linear infinite;
}

@media only screen and (max-width: 1200px) {
	h3 {
		font-size: 2rem;
	}

	#githubCaption {
		font-size: 1.5rem;
	}

	.separator {
		width: 10rem;
	}
}

@media only screen and (max-width: 768px) {
	h3 {
		font-size: 1.5rem;
	}

	#githubCaption {
		font-size: 1rem;
	}

	.separator {
		width: 4.5rem;
	}

	#card {
		display: flex;
		flex-direction: column;
	}

	#card img {
		display: block;
		margin: auto !important;
		width: 150px;
		height: 200px;
	}
}

@media only screen and (max-width: 500px) {

	h3 {
		font-size: 1rem;
	}

	.btn {
		font-size: 0.7rem;
	}

	#githubCaption {
		font-size: 0.6rem;
	}

	.separator {
		width: 1rem;
	}

	.dot {
		width: 50px;
		height: 50px;
	}

	h5 {
		font-size: 1rem;
	}
}

@keyframes move {
	25% {
		transform: translateX(-1px) translateY(-0.5vw) scale(1.1);
	}

	50% {
		transform: translateX(2px) translateY(-0.2vw) scale(1.1);
	}

	75% {
		transform: translateX(-2px) translateY(-0.3vw) scale(1.1);
	}

	100% {
		transform: translateX(0px) translateY(0vw) scale(1.1);
	}
}