:root {
	--background: #343a40;
}

html,
body {
	scroll-behavior: smooth;
	width: 100%;
	height: 100%;
	font-family: Georgia, Helvetica, Garamond, -apple-system, BlinkMacSystemFont;
}

li {
	margin: 10px;
	margin-right: 2.5vw;
}

#navbarLinks ul {
	margin-right: 5vw;
}

nav a:hover {
	color: white !important;
}

#stickyContactLabel {
	top: 50%;
	z-index: 3;
	right: 0;
}

img {
	max-width: 100%;
	height: auto;
}

.carousel-item {
	max-width: auto;
	max-height: 600px;
	overflow: hidden;
}

.carousel-item img {
	max-width: auto;
	max-height: 80%;
	overflow: hidden;
}

.dot {
	color: black;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	text-align: center;
	vertical-align: center;
	transition: transform .2s ease-in, background-color .2s linear;
}

.dot:hover {
	color: white;
	transform: rotate(-25deg);
	background-color: var(--background);
}

.separator {
	background-color: var(--background);
	display: block;
	margin-top: auto;
	margin-bottom: auto;
	width: 15rem;
	height: 2px;
}

.popover-body {
	background-color: var(--background);
	color: white;
}

.bs-popover-top .arrow::after {
	border-top-color: var(--background);
}

#stickyContactLabel h3 {
	background-color: black;
}

.jumbotron {
	margin-bottom: 0px;
}

#slidesCaption h1,
#slidesCaption h3 {
	text-shadow: 1px 1px 10px black;
}

.row {
	justify-content: center;
	padding: 15px;
}

hr {
	border: none;
	height: 2px;
}

.fab:hover {
	text-decoration: none;
}

#mainContent {
	background-color: #FFFFFF;
}

.card-img-top {
	object-fit: cover;
}

p {
	font-size: 1.5em;
}

@media only screen and (max-width: 1200px) {

	.display-3 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	#githubCaption {
		font-size: 1.5rem;
	}

	.separator {
		width: 10rem;
	}
}

.card img {
	max-height: 250px;
}

@media only screen and (max-width: 768px) {

	.display-3 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.5rem;
	}

	#githubCaption {
		font-size: 1rem;
	}

	.separator {
		width: 4.5rem;
	}

	#card {
		display: flex;
		flex-direction: column;
	}

	#card img {
		display: block;
		margin: auto !important;
		width: 150px;
		height: 200px;
	}
}

@media only screen and (max-width: 500px) {

	.display-3 {
		font-size: 1.3rem;
	}

	h3 {
		font-size: 1rem;
	}

	.btn {
		font-size: 0.7rem;
	}

	#githubCaption {
		font-size: 0.6rem;
	}

	.separator {
		width: 1rem;
	}

	.dot {
		width: 50px;
		height: 50px;
	}

	h5 {
		font-size: 1rem;
	}
}