<footer class="footer">
  <div class="footer__inner">
    <div class="social social--links">
       <a target="_blank" href="mailto:{{ $.Site.Params.Author.Email | safeHTML }}"><i class="fa-solid fa-inbox fa-xl"></i></a>
       <a target="_blank" href="{{ $.Site.Params.Author.Github | safeHTML }}"><i class="fa-brands fa-github fa-xl"></i></a>
       <a target="_blank" href="{{ $.Site.Params.Author.Linkedin | safeHTML }}"><i class="fa-brands fa-linkedin fa-xl"></i></a>
      </span>
    </div>
  </div>
  <div class="footer__inner">
    <div class="copyright copyright--user">© 2022-{{ now.Year }} {{ $.Site.Copyright | safeHTML }}</div>
  </div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}
{{ $theme := resources.Get "js/theme.js" | js.Build }}
{{ $bundle := slice $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify }}
<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

{{- partial "extended_footer.html" . }}
